a {
    font-family: 'Luckiest Guy', cursive;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(156, 154, 154);
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px;
    background-color: rgb(62, 176, 31);
}

img {
    height: 200px;
    width: 200px;
    border: 2px rgb(229, 106, 61);
    box-shadow: 10px 5px 5px rgb(206, 183, 139);
    transition: box-shadow 1.0s;
}

img:hover {
    box-shadow: 10px 5px 5px rgb(9, 109, 9);
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: rgb(229, 106, 61);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: rgb(28, 82, 28)
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

.flip_box {
    background-color: transparent;
    height: 200px;
    width: 200px;
    border: 1px rgb(9, 190, 9);
    perspective: 1000px;
}

.flip_box_inner {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 2.5s;
    transform-style: preserve-3d;
}

.flip_box:hover .flip_box_inner {
    transform: rotateY(180deg);
}

.flip_box_front, .flip_box_back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_box_front {
    background-color: #696262;
    color: black
}

.flip_box_back {
    background-color: rgb(9, 109, 9);
    color: white;
    transform: rotateY(180deg);
}

.row:nth-last-of-type(even) {
    background-color: rgb(206, 183, 139 );
}

table {
    text-align: center;
}

.left_align {
    text-align: left;
}
